div, p, span{ 
    font-size: 12pt;
}

p {
    font-style: italic;
}


span{
    background-color: wheat;
    font-weight: bold;
}

#header{
    background-color: green;
    width: 50%;
    padding: 10px;
    margin-bottom: 100px;
}

#content{
    background-color: yellow;
}