div, p, span{ 
    font-size: 12pt;
}

p {
    font-style: italic;
}


span{
    background-color: wheat;
    font-weight: bold;
}

#header{
    background-color: green
}

#content{
    background-color: yellow;
}